<form #loginForm="ngForm">
    <div class="alert alert-danger" role="alert" *ngIf="error" >{{error}}</div>
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" placeholder="Login" class="form-control" 
        required name="userName" ngModel #userName/>
        <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">Login required</div>        
    </div>
    <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" class="form-control" required name="password"
            ngControl="password" ngModel #password/>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password required</div>
    </div>
    <button type="submit" class="btn btn-default" (click)="login(userName.value,password.value)"
    [disabled]="!loginForm.form.valid">Login</button>
</form>